.Contact-container {
  margin: 50px auto;
}

.ConatctJoin-container {
  background-color: #e5c643;
  width: 90%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.footer-container {
  background-color: #000;
  color: white;
  width: 90%;
  height: 200px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
