.Contact-container {
  margin: 50px auto;
}

.Conatct-Join-container {
  background-color: #e5c643;
  color: white;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.join-content {
  max-width: 930px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 100px 0px;
}

.footer-container {
  background-color: #000;
  color: white;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Conatct-Join-container .join-content h1 {
  /* width: 80%; */
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 127.273% */
  letter-spacing: 1.65px;
}
.footer-element {
  color: white;
  width: 80%;
  margin: 0px auto;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.leftFooter {
}

.rightFooter {
}
