.Contact-container {
  margin: 50px auto;
}

.ConatctUs_container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 25px auto;
  color: black;
  border: 5px dashed rgba(64, 58, 58, 0.5);
  width: 75%;
  padding: 20px;
}

.left_ContactUs {
  width: 45%;
}

.title {
  white-space: nowrap;
  overflow: hidden; /* Ensures text doesn't overflow */
}

.right_ContactUs {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Girl_Logo {
  width: 100%;
  max-width: 500px;
}

.Inputs_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.Inputs_container input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.Inputs_container input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
}

/* Updated radio inputs styles */
.radio_inputs {
  display: flex;
  flex-direction: column; /* Change to row to align horizontally */
  justify-content: flex-start; /* Align to the left */
  margin: 10px 0;
}

.radio_inputs label {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Space between radio buttons */
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.radio_inputs input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  appearance: none; /* Remove default style */
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}

.radio_inputs input[type="radio"]:checked {
  background-color: #333;
}

.radio_inputs input[type="radio"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.radio_inputs input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

textarea[name="Message"] {
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  min-height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.readonly {
  background-color: #f0f0f0;
  border: none;
  cursor: not-allowed;
  color: #6c757d;
  pointer-events: none;
}

/* Hide the girl's picture when the screen width is 675px or less */
@media (max-width: 675px) {
  .Girl_Logo {
    display: none;
  }
}

/* Hide the right container */
@media (max-width: 481px) {
  .title {
    white-space: normal; /* Allows wrapping on small screens */
    word-wrap: break-word; /* Ensures long words break and wrap */
  }
}
