@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.Register_Container {
  background-color: #ffef65;
  width: 95%;
  height: 500px;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
}

.Register_Container img {
  width: 60%;
  float: left;
}

.Right_Container {
  width: 65%;
  margin: 5px auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.Register_Content {
  width: 85%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.Right_Container .Register_Content h1 {
  color: #000;
  margin: 0px auto;
  font-family: Poppins;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
}

.Register_Form {
  width: 43%;
  margin: auto 115px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.Register_Form .form_control_input {
  position: relative;
  width: 130%;
}

.Register_Form .form_control_input input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-size: 1 em;
  transition: 0.5 s;
}
.form_control_input .label {
  position: absolute;
  left: 0;
  padding: 15px;
  pointer-events: none;
  font-size: 1em;
  color: #666a86;
  text-transform: uppercase;
  transition: 0.5s;
}

.form_control_input input:focus ~ .label {
  color: #000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #95b8d1;
  border-left: 1px solid #666a86;
  border-right: 1px solid #666a86;
  letter-spacing: 0.2em;
}

.form_control_input input:valid ~ .label,
.form_control_input input:focus ~ .label {
  color: #000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #ffef65;
  border-left: 1px solid #666a86;
  border-right: 1px solid #666a86;
  letter-spacing: 0.2em;
}

.form_control_input input:valid,
.form_control_input input:focus {
  border: 1px solid #00dfc4;
}
.Register_Form .btn {
  margin: auto 50px;
  width: 90%;
  background-color: black;
  color: white;
}

@media (max-width: 700px) {
  .chat-main {
    /* display: block; */
  }

  .chat-sidebar {
    display: none;
  }
}
.checkbox_container .checkbox {
  display: inline;
}
