.dashboard-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}

.dashboard-card {
  flex: 1; /* Allow each card to grow equally */
  min-width: 250px; /* Ensure a minimum width for smaller screens */
  max-width: 30%; /* Limit the maximum width to keep the layout balanced */
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-card h1 {
  font-size: 3em;
  margin: 0;
}

.header-card h4 {
  margin: 10px 0 20px;
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 90px;
  background-color: rgba(0, 0, 0, 0.1); /* Default for fallback */
  border-radius: 0 0 5px 5px;
  font-size: 1.2em;
  margin-top: auto; /* Push the footer to the bottom */
}

.footer-card h1 {
  font-size: 1em;
  margin: 0;
}

.footer-card .Icon {
  font-size: 1.5em;
}

/* Specific styles for each card */
.users-card {
  background-color: #17a2b8; /* Teal color */
}

.products-card {
  background-color: #28a745; /* Green color */
}

.sales-card {
  background-color: #ffc107; /* Yellow color */
}
