.models_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.newClothes_header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icon and text */
  margin: 20px auto;
  width: 100%; /* Ensure the header takes up the full width */
  text-align: center; /* Center the text inside the flex container */
}

.newClothes_header a {
  display: flex;
  align-items: center;
}

.newClothes_header h1 {
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 20px;
  color: #333;
}
.models_container hr {
  width: 100%;
  border: 0;
  border-top: 3px solid;
  background-color: #ccc;
  margin: 5px auto;
}

/* Styles for the modal content */
.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

/* Styles for the overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_h1 {
  font-size: 20px;
  color: #fff;
}

.description {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 20px auto;
  animation: fadeIn 0.5s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.model_card {
  position: relative; /* add this line to make heart icon in the corner */
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.model_card.clicked {
  background-color: pink;
}

.model_card img {
  width: 100%;
  height: 250px !important;
  object-fit: contain; /* make image in real size */
  object-position: center;
  border-radius: 10px;
  margin-top: 10px;
}

.model_card .heart {
  position: absolute;
  top: 0px;
  right: 30px;
  width: 40px;
  height: 50px;
  margin: -30px auto;
}

.icon_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  gap: 10px; /* Added space between icons */
}

.icon {
  flex: 1; /* Make each icon take equal space */
  display: flex; /* Enable flexbox for each icon */
  justify-content: center; /* Center the icons horizontally */
}

/* Styles for the Buy button */
.Buy_Button {
  padding: 10px 20px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 2;
}

.OffreSent_Button {
  padding: 10px 20px;
  background-color: #6c757d; /* A subtle gray-blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: not-allowed; /* Disable pointer */
  opacity: 0.7; /* Make it look disabled */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* A nice shadow */
  flex-grow: 2;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.OffreSent_Button:hover {
  background-color: #6c757d; /* Keep the same color on hover */
}

.empty_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Takes up a good portion of the viewport height */
  text-align: center;
  color: #555; /* A neutral color for the message */
  padding: 20px; /* Some padding for breathing space */
}

.empty_message img {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px; /* Space between image and text */
}

.empty_message p {
  font-size: 1.2rem; /* A bit larger text for emphasis */
  margin: 0;
  color: #666; /* A slightly lighter color for the text */
}

.offer-icon-wrapper {
  position: absolute;
  top: 0px; /* Adjust the top positioning as needed */
  left: 0px; /* Adjust the left positioning as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-count {
  position: absolute; /* Position the badge absolutely relative to the wrapper */
  top: -17px; /* Positioning the badge */
  right: -20px; /* Positioning the badge */
  background-color: red; /* Background color for visibility */
  color: white; /* Text color for contrast */
  border-radius: 50%; /* Making the badge circular */
  padding: 2px 6px; /* Adjust padding for the badge size */
  font-size: 12px; /* Font size for the badge text */
  font-weight: bold; /* Bold text for emphasis */
  display: flex; /* Flex to center align text */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.offer-icon-wrapper .offer-icon {
  max-width: 50px; /* Set the desired size for the offer icon */
  max-height: 46px;
  object-fit: contain;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
