/* General layout */
.girlLogo {
  width: 50%;
  float: right;
}

.left-container {
  width: 45%;
  float: right;
}

.LEUC-container {
  width: 90%;
  margin: 35px auto;
  color: #000;
  text-align: left; /* Align text to the left */
}

/* LEUC-container paragraph styles */
.LEUC-container p {
  color: #000;
  width: 100%;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 900;
  line-height: 25px;
  padding: 30px 0px 0px 0px; /* Adjust padding as needed */
  margin: 0;
}

/* Span styles */
.LEUC-container span {
  display: block; /* Ensure each word occupies its own line */
}

/* Style for the first span */
.first-span {
  background-color: #fff;
  padding: 10px;
  width: fit-content;
  display: inline-block;
  transform: rotate(-2deg);
}

/* Style for the second span */
.second-span {
  background-color: #ebd96b;
  padding: 10px;
  width: fit-content;
  display: inline-block;
  transform: rotate(-2deg);
}

/* life-container styles */
.life-container {
  width: 100%; /* Ensure full width */
  height: auto; /* Set to auto for flexible height */
  margin: 20px auto 0; /* Add spacing between LEUC and life-container */
  text-align: center; /* Center the text */
}

/* life-container paragraph styles */
.life-container p {
  color: #191818 !important;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -1.6px;
}

/* Shop container styles */
.shop-container {
  display: inline-flex;
  align-items: center;
  gap: 34px;
  margin-left: 60px;
}

.shop-container img {
  width: 30%;
  height: 32px;
}

.shopNow-button {
  width: 55%;
  height: 70px;
  border-radius: 10px;
  background: #000;
}

.shopNow-button p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: -1.5px;
  text-align: center;
}

/* Media query for screen sizes smaller than 980px */
@media (max-width: 980px) {
  .LEUC-container {
    height: 45%; /* Smaller height for responsive view */
  }

  .LEUC-container p {
    font-size: 36px; /* Reduce font size for smaller screens */
    line-height: 45px;
  }

  .left-container {
    width: 100%;
    float: none;
  }

  .girlLogo {
    width: 100%; /* Ensure the image adapts */
    float: none;
  }

  .life-container {
    width: 100%;
    margin: 0 auto;
  }

  .life-container p {
    font-size: 20px;
    line-height: 1.5;
    word-break: break-word;
    text-align: center;
  }

  .shopNow-button {
    width: 100%; /* Full-width button on small screens */
  }

  .shopNow-button p {
    font-size: 24px; /* Adjust font size */
    line-height: 60px;
  }
}
