.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  height: 85px;
  margin: 0px auto;
}

.logo-vector {
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo-vector img {
  width: 31.265px;
  height: 29px;
}

.logo-vector a {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.navbar-element {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-element .navbar-control a {
  color: #242323;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
  text-decoration: none;
}

.navbar-control {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.navbar-element .navbar-control img {
  width: 24px;
}

.Login_button {
  background-color: #0a66c2;
  border-radius: 12px;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 24px;
  overflow: hidden;
}

.Lougout_button {
  background-color: #0a66c2;
  border-radius: 12px;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 24px;
  overflow: hidden;
}

.LoginSinup {
  width: 134px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #000;
}

.LoginSinup a {
  width: 90px;
  height: 32px;
  flex-shrink: 0;
  color: #fefefe;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  margin: 11px 0px 0px 39px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
