.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  height: 85px;
  margin: 0px auto;
}

.logo-vector {
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo-vector img {
  width: 31.265px;
  height: 29px;
}

.logo-vector a {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.message-icon-wrapper {
  position: relative; /* Positioning relative for placing the count badge */
  display: flex; /* Flex to align the icon and the count */
  align-items: center; /* Center the icon and count vertically */
  gap: 5px; /* Adjust space between the icon and the count */
}

.message_icon {
  height: 20px; /* Adjust icon size */
  width: 20px; /* Adjust icon size */
}

.message-count {
  position: absolute; /* Position the badge absolutely relative to the wrapper */
  top: -5px; /* Positioning the badge */
  right: -10px; /* Positioning the badge */
  background-color: red; /* Background color for visibility */
  color: white; /* Text color for contrast */
  border-radius: 50%; /* Making the badge circular */
  padding: 2px 6px; /* Adjust padding for the badge size */
  font-size: 12px; /* Font size for the badge text */
  font-weight: bold; /* Bold text for emphasis */
  display: flex; /* Flex to center align text */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.navbar-element {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-element .navbar-control a {
  color: #242323;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
  text-decoration: none;
}

.navbar-control {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.navbar-element .navbar-control img {
  width: 24px;
}

.Login_button {
  background-color: #0a66c2;
  border-radius: 12px;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 24px;
  overflow: hidden;
}

.Lougout_button {
  background-color: #0a66c2;
  border-radius: 12px;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 24px;
  overflow: hidden;
}

.LoginSinup {
  width: 134px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #000;
}

.LoginSinup a {
  width: 90px;
  height: 32px;
  flex-shrink: 0;
  color: #fefefe;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  margin: 11px 0px 0px 39px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
