.Footer {
  background-color: #ebd96b;
  border-radius: 10px;
  width: 98%;
  margin: 0px auto;
  height: 85px;
}

.fashionMark-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 1% 4%;
}

.Footer .fashionMark-container img {
  width: 10%;
}

.Footer .fashionMark-container:nth-child(3) {
  background: lightgray -29.485px -56.427px / 133.505% 284.783% no-repeat;
  mix-blend-mode: multiply;
}
