.Footer {
  background-color: #ebd96b;
  border-radius: 10px;
  width: 98%;
  height: 85px;
  margin: 0px auto;
}

.fashionMark-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 76px; */
  width: 95%;
}
