.offers_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Card Styling */
.offer_card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 30%; /* Default width for larger screens */
  margin-bottom: 20px; /* Add space between cards */
}

.offer_card:hover {
  transform: translateY(-5px);
}

.offer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer_date {
  font-size: 0.9rem;
  color: #777;
  position: absolute;
  top: 10px;
  right: 15px;
}

.offer_price {
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
}

.offer_body {
  text-align: center;
  padding: 20px 0;
}

.offer_message {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.offer_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.offer_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer_footer {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  gap: 20px;
}

.offer_button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offer_button:hover {
  background-color: #2980b9;
}

.change_offer_button {
  background-color: #27ae60;
}

.change_offer_button:hover {
  background-color: #229954;
}

.cancel_offer_button {
  background-color: #e74c3c;
}

.cancel_offer_button:hover {
  background-color: #c0392b;
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  color: #555;
  padding: 20px;
}

.empty-message img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.empty-message p {
  font-size: 1.2rem;
  margin: 0;
  color: #666;
}

@media (max-width: 800px) {
  .offer_button {
    padding: 10px 5px;
  }
}

/* Media Query for 785px and below */
@media (max-width: 785px) {
  .offers_container {
    flex-direction: column;
    align-items: center;
  }

  .offer_card {
    width: 70%; /* Take up most of the screen width */
    margin-bottom: 20px; /* Add space between stacked cards */
  }

  .offer_button {
    padding: 10px 5px;
  }
}
