.offers_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.offer_card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.offer_card:hover {
  transform: translateY(-5px);
}

.offer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer_date {
  font-size: 0.9rem;
  color: #777;
  position: absolute;
  top: 10px;
  right: 15px;
}

.offer_price {
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
}

.offer_body {
  text-align: center;
  padding: 20px 0;
}

.offer_message {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.offer_image_container {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  margin-top: 15px;
}

.offer_image {
  border-radius: 50%; /* Make the image circular */
  width: 150px;
  height: 150px;
  object-fit: cover; /* Ensure the image covers the area and maintains aspect ratio */
  border: 2px solid #ddd; /* Optional: Add a border around the circle */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better aesthetics */
}

.offer_footer {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.offer_button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offer_button:hover {
  background-color: #2980b9;
}

.change_offer_button {
  background-color: #27ae60;
}

.change_offer_button:hover {
  background-color: #229954;
}

.cancel_offer_button {
  background-color: #e74c3c;
}

.cancel_offer_button:hover {
  background-color: #c0392b;
}
