body {
  margin: 0;
  background-image: url("../src/Components/Assets/seamless_b.png");
  background-repeat: repeat;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
