body {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  background-image: url("../src/Components/Assets/seamless_b.png");
  background-repeat: repeat;
  width: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
